<mat-toolbar color="primary" class="footer">
    <span class="text-muted">All Rights Reserved 2023 @Cognizant</span>
    <span class="spacer"></span>
    <span>developed by: Arvind Sisodiya</span>
    <span class="spacer"></span>
    <span class="text-muted">contact me @:</span>
    <a href="https://github.com/arvindsis11" target="_blank">
      <!-- <fa-icon matTooltip="github/arvindsis11" [icon]="githubIcon" size="2x"></fa-icon>
      <i class="fa-brands fa-github"></i> -->
      <i matTooltip="github/arvindsis11" class="fa fa-github fa-2x" aria-hidden="true"></i>
    </a>
    <span class="spacer2"></span>
    <a href="https://www.linkedin.com/in/arvind-sisodiya/" target="_blank">
      <!-- <fa-icon matTooltip="linkedin.com/in/arvind-sisodiya" [icon]="linkedinIcon" size="2x"></fa-icon> -->
      <i matTooltip="linkedin.com/in/arvind-sisodiya" class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </a>
  </mat-toolbar>