.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    color: black;
    cursor: pointer;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 

  .navbar-container{
    background-color:  #7a868b;
  }
  
  
  .spacer {
    flex: 1 1 auto;
  }
  .username-icon {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-bottom: 10px;
  }
  

  