.booking-container {
  display: flex;
  justify-content: center;
  background-color: rgb(203, 221, 228);
}
.movie-card{
  background-color: rgb(203, 221, 228);
  position: relative; 
}
mat-card{
  background-color: rgb(203, 221, 228);
}


.text-overlay {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  text-align: center;
}

.text-overlay h2 {
  font-size: 24px;
  padding: 10px;
}
/* mat-card{
  background: linear-gradient(to bottom, #f0ebeb, #c7dff0);
} */

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.card-header{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
mat-card-header {
  display: block;
  padding: 50px;
  text-align: center;
  /* background-color: #333545; */
}
.card-center{
  display: block;
  text-align: center;
}
mat-card-title{
  display: block;
  /* padding: 50px; */
  text-align: center;
}

.seats {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.seat-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.row-label {
  margin-right: 10px;
}

.seat {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: rgb(233, 225, 225);
  border-radius: 5px;
  cursor: pointer;
  border: 2px solid green;
  color: black;
  transition: background-color 0.3s, color 0.3s;
}

.seat.green {
  background-color: green;
  color: white;
}

.seat.red {
  border-color: red;
  pointer-events: none;
}

.seat:hover {
  background-color: green;
  color: white;
}

  
  .red {
    background-color: red;
  }
  .green{
    background-color: green;
  }
  .spacer {
    margin-left: 20px;
  }
  .edit-container {
    display: flex;
    align-items: center;
  }
  
  .edit-input {
    width: 50px;
    margin-right: 10px;
  }
  
  .ok-icon{
    cursor: pointer;
    font-weight: bolder;
    color: green;
  }
  .cancel-icon {
    cursor: pointer;
    font-weight: bolder;
    color: red;
  }
  
  .spacer {
    display: inline-block;
    width: 8px;
  }
  .message {
    margin-top: 16px;
    font-weight: bold;
  }
  
  .error-message {
    color: red;
  }
  
  .success-message {
    color: green;
  }
  