<app-navbar></app-navbar>
<div class="container">
    <div class="refresh-section">
        <button mat-raised-button color="primary" (click)="loadStreamData()">Refresh</button>
        <span class="spacer"></span>
        <button mat-raised-button class="right-buttons" color="warn" (click)="deleteMessages()">Delete All</button>
    </div>
    <div class="card-header" *ngIf="loading">
        <h5><b>load stream data in process...</b></h5>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
    <div class="message-list">
        <h2 class="header">Kafka Streaming Data</h2>
        <div class="message-item" *ngFor="let message of messages">
            <p>id: {{ message.id }} -  <span style="margin:5px"></span>[{{ message.content }}] - <span style="margin:5px"></span> [{{message.timestamp}}]</p>
        </div>
    </div>
</div>
<!-- experimental -->